@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
* {
	box-sizing: border-box;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-right: 0;
	padding-left: 0;
}
/* grids */
.row:before,
.row:after {
	content: "";
	clear: both;
	display: block;
}

[class*='col-'] {
	float: left;
 	margin: 0 auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offest-7 {margin-left: 58.33%;}
.col-offest-8 {margin-left: 66.66%;}
.col-offest-9 {margin-left: 75%;}
.col-offest-10 {margin-left: 83.33%;}
.col-offest-11 {margin-left: 91.66%;}

.pulse {
	display: inline-block;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #042650;
}
nav {
	background-color: #fff;
	height: 100px;
	width: 100%;
	content: "";
	display: table;
	clear: both;
	box-shadow: 0 2px 6px #042650;
	top: 0;
	z-index: 1;
}
nav .picture {
	display: inline-block;
	float: left;
	margin: 0;
}
nav .menu ul {
	display: block;
	float: right;
	padding: 0 9px;
	list-style-type: none;
}
nav .menu ul li {
	display: inline-block;
}
nav .menu ul li a {
	color: #042650;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}
nav .menu ul li a:hover {
	color: #00c7e8;
	transition: color 0.30s;
}
.hero {
	height: 270px;
	background-image: url("../images/jumbotron.jpg");
	background-size: cover;
	background-position: 50%;
	max-width: 100%;
  	width: 100%;
  	margin-top: 100px;
  	margin-bottom: 5px;
}
.hero button.visit {
	position: relative;
	top: 120px;
	left: calc(50% - 75px);
	outline: none;
	border-color: #fff;
}
section.numbers .item {
	display: block;
	float: left;
	text-align: center;
	width: 33%;
}
section.numbers .item i {
	font-size: 46px;
	color: #00c7e8;
	margin-top: 25px;
}
section.numbers .item span {
	text-transform: uppercase;
	color: #00c7e8;
	text-align: center;
	font-weight: bold;
	font-size: 115%;
}
section.movie .item {
	display: block;
	float: left;
	text-align: center;
}
section.movie .item video {
	width:100%;
	max-width: 500px;
	height: auto;
	text-align: center;
	padding: 0 20px; 
}
section.movie .item figcaption {
	text-align: center;
}

section > .container {
	margin: 85px auto;
}

/*MEDIA*/
/*urządzenia duże (desktopy, monitory, tv)*/
@media (min-width: 1200px) {
	
	nav {
		position: fixed;
	}
	nav .picture {
		margin-top: 15px;
		padding-left: 25px;
	}
	nav img {
		width: 110px;
		height: auto;
	}
	nav .menu ul {
		display: inline-block;
		float: right;
		margin-top: 35px;
		line-height: 30px;
	}
	nav .menu ul li {
		display: inline-block;
		float: left;
		text-align: center;
		padding: 0 9px;
	}
	nav .menu ul ul  {
		display: none;
	}
	nav .menu ul li:hover ul {
		display: block;
		position: absolute;
		background: #4577ED;
	}	
	
}

/*urządzenia średnie*/
@media (min-width: 992px) and (max-width: 1199px) {
	
	nav {
		position: fixed;
	}
	nav .picture {
		margin-top: 15px;
		padding-left: 25px;
	}
	nav img {
		width: 110px;
		height: auto;
	}
	nav .menu ul {
		width: 95,5%;
		float: right;
		display: inline-block;
		padding-left: 130px;
		margin-top: 35px;
		line-height: 30px;
	}
	nav .menu ul li {
		display: inline-block;
		float: left;
		padding: 0 9px;
	}
	
}

/*urządzenia małe (tablety)*/
@media (min-width: 768px) and (max-width: 991px) {
	
	nav {
		position: fixed;
	}
	nav .picture {
		display: block;
		float: none;
		margin-top: 15px;
		width: 100%;
		text-align: center;
	}
	nav img {
		width: 110px;
		height: auto;
	}
	nav .menu {
		display: block;
		float: left;
		text-align: center;
		width: 100%;
		margin-top: 15px;
	}
	nav .menu ul {
		display: block;
		float: left;
		width: 100%;
		line-height: 30px;
	}
	nav .menu ul li {
		display: inline-block;
		float: none;
		padding: 0 4px;
	}
	
	.hero {
		margin-top: 125px;
	}

}

/*urządzenia bardzo małe (telefony)*/
@media (max-width: 767px) {

	nav {
		border: 1 solid #042650;
	}
	nav .picture {
		display: block;
		float: none;
		margin-top: 15px;
		width: 100%;
		text-align: center;
	}
	nav img {
		width: 110px;
		height: auto;
	}
	nav .menu {
		display: block;
		float: none;
		text-align: center;
		width: 100%;
		margin-top: 15px;
	}
	nav .menu ul {
		display: block;
		float: none;
		width: 100%;
		line-height: 30px;
		padding: 0;
	}
	nav .menu ul li {
		display: block;
		float: none;
		font-size: 120%;
	}
	nav .menu ul ul  {
		display: none;
	}
	nav .menu ul li:hover ul {
		display: block;
		position: absolute;
		background-color: #A7A9AC;
		width: 100%;
		border-top: 1px solid #7C8EA4;
		border-bottom: 1px solid #7C8EA4;
	}
	nav .menu ul ul li a {
		color: white;
	}
	.hero {
		margin-top: 1px;
	}
	section.numbers .item {
		display: block;
		float: none;
		text-align: center;
		width: 100%;
	}
	section.numbers .item i {
		font-size: 46px;
		color: #00c7e8;
		margin-top: 25px;
	}
	section.numbers .item span {
		text-transform: uppercase;
		color: #00c7e8;
		text-align: center;
		font-weight: bold;
	}
	section.movie .item {
		display: block;
		float: none;
		width: 100%;
		text-align: center;
		padding: 0 20px;
	}
	section.movie .item h4 {
		font-size: 110%;
	}
	section.movie .item figcaption {
		text-align: center;
	}

}